@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-weight: 400;
  line-height: 1.5;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  color: #3898ec;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
  transition: background-color 0.25s ease-out;
  color: #3898ec;
}
button:hover {
  /* border-color: #3898ec; */
  /* background-color: #f3f4f6; */
  animation: focusOut 5s forwards;
}

button:focus,
button:focus-visible {
  outline: none;
}

.login {
  background: rgb(255, 255, 255);
  background: linear-gradient(45deg, #3898ec8f 10%, rgba(255, 255, 255, 1) 80%);
}

.login-card {
  background: linear-gradient(45deg, #3898ec8f 1%, rgba(255, 255, 255, 1) 80%) padding-box, linear-gradient(45deg, #3898ec8f 1%, rgba(255, 255, 255, 1) 80%) border-box;
  border: 4px solid transparent;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.page-title {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
  /* margin-bottom: 2rem; */
}

.pages-modal {
  position: absolute;
  z-index: 50;
  padding: 1rem;
  left: 0px;
  margin-top: 0.5rem;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  min-width: 120px;
  max-width: 360px;
  white-space: nowrap;
}

.nft-card {
  cursor: pointer;
  padding: 16px;
  border-radius: 12px;
  background-color: rgba(245, 245, 245, 0.5);
  /* background-color: rgba(240, 249, 255, 0.5); */
}

.nft-card:hover {
  background-color: rgb(233, 233, 233);
}
